@model Edubin.Models.Batch_Details

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Batch_Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Batch_Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batch_Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Batch_end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batch_end)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty_Details.F_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty_Details.F_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Batch_Code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
