@model IEnumerable<Edubin.Models.Batch_Details>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Batch_Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Batch_end)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Timing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faculty_Details.F_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Batch_Start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Batch_end)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Timing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faculty_Details.F_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Batch_Code }) |
            @Html.ActionLink("Details", "Details", new { id=item.Batch_Code }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Batch_Code })
        </td>
    </tr>
}

</table>
