@model IEnumerable<Edubin.Models.Exam_Result>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Total_Marks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Obtained_Marks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exam_Details.Course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student_Details.C_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Marks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Obtained_Marks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exam_Details.Course)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Details.C_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Result_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Result_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Result_Id })
        </td>
    </tr>
}

</table>
