@model IEnumerable<Edubin.Models.Exam_Details>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exam_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exam_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course_Details.Course_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student_Details.C_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exam_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exam_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course_Details.Course_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Details.C_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Exam_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Exam_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Exam_Id })
        </td>
    </tr>
}

</table>
